<div class="hello-code">
<!-- ============== Hello ============== -->
<script type="text/ng-template" id="hello.html">
    <div>
        <label>Name:</label>
        <input type="text" ng-model="yourName"
               placeholder="Enter a name here">
        <hr>
        <h1 ng-cloak>Hello {% raw %}{{yourName}}{% endraw %}!</h1>
    </div>
</script>
<script id="hello.dart" type="text/dart">
import 'package:angular/angular.dart';
import 'package:angular/application_factory.dart';

main() {
  applicationFactory().run();
}
</script>
<script type="text/ng-template" id="hello.annotation">
{ "hello.html":
{ "ng-app": "Tells AngularDart to be active in this portion of the page. In this case the entire document."
, "ng-model": "This links the form and the model. This means that any changes to the control update the data in your model, and when you change the model it updates the control. Try it! Type in the control and see it update below."
, "{% raw %}{{yourName}}{% endraw %}": "The <code>{% raw %}{{ }}{% endraw %}</code> are a declarative way of specifying data binding locations in the HTML. AngularDart will automatically update this text whenever the <code>yourName</code> property changes."
}
}
</script>
</div>
<div class="todo-code">
<!-- ============== TODO ============== -->
<style type="text/css" id="todo.css">
  .done-true {
      text-decoration: line-through;
      color: grey;
  }
</style>
<script id="todo.dart" type="text/dart">
import 'package:angular/angular.dart';
import 'package:angular/application_factory.dart';

/* Use the Controller annotation to indicate that this class is an
 * Angular Directive. The compiler will instantiate the directive if
 * it finds it in the DOM.
 *
 * The selector field defines the CSS selector that will trigger the
 * directive. It can be any valid CSS selector which does not cross
 * element boundaries.
 *
 * The publishAs field specifies that the directive instance should be
 * assigned to the current scope under the name specified.
 *
 * The directive's public fields are available for data binding from the view.
 * Similarly, the directive's public methods can be invoked from the view.
 */
@Controller(
    selector: '[todo-list]',
    publishAs: 'TodoCtrl')
class TodoController {
  List<Todo> todos;
  String todoText;

  TodoController() {
    todos = [
        new Todo('learn angular', true),
        new Todo('build an angular app', false)
    ];
  }

  void addTodo() {
    todos.add(new Todo(todoText, false));
    todoText = '';
  }

  int remaining() {
    var count = 0;
    for (var i = 0; i < todos.length; i++) {
      count += todos[i].done ? 0 : 1;
    }
    return count;
  }

  void archive() {
    var oldTodos = todos;
    todos = [];
    for (var i = 0; i < oldTodos.length; i++) {
      if (!oldTodos[i].done)
        todos.add(oldTodos[i]);
    }
  }
}

class Todo {
  String text;
  bool done;

  Todo(this.text, this.done);
}

class TodoModule extends Module {
  TodoModule() {
    type(TodoController);
  }
}

main() {
  applicationFactory()
      .addModule(new TodoModule())
      .run();
}
</script>
<script type="text/ng-template" id="todo.html">
  <h2>Todo</h2>
  <div todo-list ng-cloak>
  <span>
    {% raw %}{{TodoCtrl.remaining()}}{% endraw %} of {% raw %}{{TodoCtrl.todos.length}}{% endraw %} remaining
  </span>
      [ <a href="" ng-click="TodoCtrl.archive()">archive</a> ]
      <ul class="unstyled">
          <li ng-repeat="todo in TodoCtrl.todos">
              <input type="checkbox" ng-model="todo.done">
              <span class="done-{% raw %}{{todo.done}}{% endraw %}">{% raw %}{{todo.text}}{% endraw %}</span>
          </li>
      </ul>
      <form ng-submit="TodoCtrl.addTodo()">
          <input type="text" ng-model="TodoCtrl.todoText"  size="30"
                 placeholder="add new todo here">
          <input class="btn-primary" type="submit" value="add">
      </form>
  </div>
</script>
<script type="text/ng-template" id="todo.annotation">
  { "todo.html":
  { "ng-app": "Tells AngularDart to be active in this portion of the page. In this case the entire document."
  , "angular.min.js": "Load AngularJS."
  , "todo.js": "Your behavior lives in JavaScript controllers."
  , "ng-controller": "The behavior of content under this element will be managed using the <code>TodoCtrl</code> class defined in <code>todo.js</code>."
  , "{% raw %}{{remaining()}}{% endraw %}": "The <code>{% raw %}{{ }}{% endraw %}</code> are a declarative way of specifying data binding locations in the HTML. AngularDart will automatically update this text whenever the <code>remaining()</code> function return value changes."
  , "ng-click": "Instead of registering event-handlers, you declare which method on the controller to call. Here clicking the link will call <code>archive()</code> method."
  , "ng-repeat": "Use <code>ng-repeat</code> to unroll a collection. Here, for every object in <code>todos</code>, AngularDart will create new copy of the <code>&lt;li&gt;</code> element. When objects are added to the <code>todos</code> collection the <code>ng-repeat</code> automatically adds new <code>&lt;li&gt;</code> elements into the DOM. Similarly when the objects are removed from <code>todos</code> then the corresponding <code>&lt;li&gt;</code> element is removed as well. This is one of the most versatile directives in AngularDart."
  , "ng-model": "This links the form and the model. This means that any changes to the control update the data in your model, and when you change the model it updates the control. AngularDart automatically copies the state of the checkbox into <code>todo.done</code>. Conversely, if you update <code>todo.done</code> you will see the checkbox respond accordingly."
  , "{% raw %}{{todo.done}}{% endraw %}": "To show strikethroughs for completed tasks we have created a CSS class <code>done-true</code>. When the <code>todo.done</code> is <code>true</code> the resulting CSS selector is <code>done-true</code> which then applies the strikethrough."
  , "ng-submit": "Intercepts form submission and instead calls <code>addTodo()</code>. Inside this method we read the <code>todoText</code> property and insert it into the <code>todos</code> collection."
  }

  , "todo.css":
  { ".done-true": "Add strikethrough decoration when the task is done."
  }

  , "todo.js":
  { "TodoCtrl": "The controller is the code behind the view. You can clearly see your application behavior because there is no DOM manipulation or framework specific boilerplate. Just simple, readable JavaScript."
  , "$scope": "<code>$scope</code> contains your model data. It is the glue between the controller and the view. The <code>$scope</code> is just one of the services that can be injected into the controller."
  , "todos": "We are creating the model with two initial todo items. Notice that a you simply assign your model to the <code>$scope</code> and AngularDart reflects the state in the UI automatically. The model data is a Plain-Old-JavaScript-Object no need to wrap it in proxy or accesses the property through special setter methods."
  , "addTodo": "We are assigning the behavior into the <code>$scope</code> so that the <code>ng-click</code> can invoke it."
  , "push": "This is unmodified <code>Array.push</code> method. Calling it updates the model, which then updates the view through data-binding. The <code>ng&ndash;repeat</code> is bound to this array. It automatically unrolls the array and adds the new DOM element into the view. (see <code>ng&ndash;repeat</code> in <code>index.html</code> tab.)"
  , "todoText": "Because of  bi-directional data-binding, the model is always up to date. This means that we can simply read the state of the user input. No need for registering callbacks, event listeners or using framework dependent API."
  , "''": "Writing to the form controls is just as easy. The data-binding will clear the control for us."
  , "remaining": "This is a computed property. No need to define its dependencies or worry about when it needs to be updated."
  , "[]": "You can replace the model with new instance at any time, without doing any special model listener registration."
  }
  }
</script>
</div>
<div class="classlist-code">
    <!-- ============== Classlist ============== -->
    <script id="backend.dart" type="text/dart">
import 'package:angular/angular.dart';
import 'package:angular/application_factory.dart';
import 'package:angular/routing/module.dart';
import 'package:firebase/firebase.dart';
import 'package:angularfire/angularfire.dart';

class BackendAppModule extends Module {
  BackendAppModule() {
    type(SystemPanelCtrl);
    type(NewEntryFormCtrl);
    type(FirebaseResultsAdapter);
    value(RouteInitializerFn, backendAppRouteInit);
  }
}

void backendAppRouteInit(Router router, ViewFactory view) {
  router.root
      ..addRoute(
          name: 'new',
          path: '/demo/new',
          enter: view('./new.html'))
      ..addRoute(
          defaultRoute: true,
          name: 'demohome',
          path: '/demo/',
          enter: view('./list.html'));
}

@Injectable()
class FirebaseResultsAdapter {
  static const String BASE = 'https://angular-dart-homepage.firebaseio.com/';
  AngularFire _results;

  FirebaseResultsAdapter() {
    Firebase fb = new Firebase(BASE);
    _results = new AngularFire(fb);
  }

  AngularFire get results =>  _results;
}

@Controller(
  selector: '[system-panel]',
  publishAs: 'panel')
class SystemPanelCtrl {
  final Scope scope;
  bool filterOn = false;
  List results;

  SystemPanelCtrl(RouteProvider routeProvider, this.scope,
                  FirebaseResultsAdapter adapter) {
    Map params = routeProvider.parameters;
    results = adapter.results.values;
  }
}

class SystemEntry {
  static Map<String, String> statusValues() => const {
    "functional"    : "Operations Normal!",
    "unpredictable" : "Runs OK ... Sometimes",
    "crashing"      : "Ughh? What's going on?",
    "offline"       : "Nope. It's not responding"
  };

  static Map<String, String> topicValues() => const {
    "webserver" : "Webserver",
    "db"        : "Database Engine",
    "billing"   : "Billing System",
    "coffee"    : "Coffee Machine"
  };

  String statusKey, topicKey, status, topic;

  SystemEntry(this.topicKey, this.statusKey) {
    topic  = SystemEntry.topicValues()[topicKey];
    status = SystemEntry.statusValues()[statusKey];
  }

  Map<String, String> export() => {
    'topicKey': topicKey,
    'topic': topic,
    'statusKey': statusKey,
    'status': status
  };
}

@Controller(
  selector: '[entry-form-ctrl]',
  publishAs: 'form')
class NewEntryFormCtrl {
  final Scope _scope;
  final NgForm _form;
  final Router _router;

  AngularFire _results;
  String topicKey;
  String statusKey;
  List statuses;
  List topics;

  NewEntryFormCtrl(this._router, this._scope, this._form,
                   FirebaseResultsAdapter adapter) {
    topics   = formatAsOptions(SystemEntry.topicValues());
    statuses = formatAsOptions(SystemEntry.statusValues());
    _results = adapter.results;
  }

  List formatAsOptions(Map items) {
    var options = [];
    items.forEach((value, title) {
      options.add({
        'value' : value,
        'title' : title
      });
    });
    return options;
  }

  submit() {
    SystemEntry entry = new SystemEntry(topicKey, statusKey);
    print(entry.export());
    _results.add(entry.export());
    _router.gotoUrl('home');
  }
}

main() {
  applicationFactory()
      .addModule(new BackendAppModule())
      .run();
}
    </script>
    <script type="text/ng-template" id="index.html">
      <nav>
        <a href="/">Home</a>
        <a href="/new">New Entry</a>
      </nav>
      <ng-view></ng-view>
    </script>
    <script type="text/ng-template" id="list.html">
      <div system-panel ng-cloak>
        <h2>Website Uptime Status</h2>
        <div ng-repeat="entry in panel.results">
          {% raw %}{{ $index + 1 }}{% endraw %}: {% raw %}{{ entry.$value.topic }}{% endraw %} - {% raw %}{{ entry.$value.status }}{% endraw %}
        </div>
      </div>
    </script>
    <script type="text/ng-template" id="new.html">
<form entry-form-ctrl ng-submit="form.submit()" novalidate ng-cloak>

  <div class="field">
    <label>Topic:</label>
    <select required ng-model="form.topicKey" required>
      <option ng-repeat="result in form.topics" value="{% raw %}{{ result['value'] }}{% endraw %}">
        {% raw %}{{ result['title'] }}{% endraw %}</option>
    </select>
  </div>

  <div class="field">
    <label>Status:</label>
    <select required ng-model="form.statusKey" required>
      <option ng-repeat="result in form.statuses" value="{% raw %}{{ result['value'] }}{% endraw %}">
        {% raw %}{{ result['title'] }}{% endraw %}</option>
    </select>
  </div>

  <nav>
    <input type="submit" />
  </nav>
</form>
</script>


<script type="text/ng-template" id="project.annotation">
    { "index.html":
    { "ng-app": "Tells AngularDart to be active in this portion of the page. In this case the entire document."
    , "classlist": "The <code>ng-app</code> activates the <code>classlist</code> module for this page region. This lets you have modules that run in different parts of the page."
    , "firebase/firebase.dart": "Load the Dart version of the Firebase SDK."
    , "firebase/angularFire.dart": "Load the AngularDart bindings for Firebase."
    , "classlist.dart": "The <code>classlist.dart</code> file contains the controllers which specify your application’s behavior."
    , "ng-view": "We’re marking this <code>&lt;div&gt;</code> as the place we’ll load partial pages or “views”. The surrounding page will stay static while we load changing UI into this section. In this case, we’ll be switching between a list of “projects” and the form to add new or edit existing “projects”."
    }
    , "classlist.dart":
    { "classlist": "This defines the <code>classlist</code> module. You use modules to configure existing services, and define new services, directives, filters, and so on. Here, we’ll set up ‘routes’ that map URLs to partials. AngularJS watches the browser location and automatically updates the partial when the URL changes."
    , "firebase": "Modules can depend on other modules. Here, <code>classlist</code> needs <code>firebase</code> which handles the persistence for this application."
    , "value": "Define a singleton object that can be injected into controllers and services."
    , "fbURL": "The URL to the firebase collection to which we want to bind."
    , "angularFireCollection": "A service provided by angularFire.dart for binding to a Firebase collection."
    , "config": "You use <code>config()</code> to configure existing services. Here, we’re configuring the <code>$routeProvider</code> responsible for mapping URL paths to partials."
    , "controller": "Define a controller function that can be attached to the DOM using <code>ng-controller</code> or to a view template by specifying it in the route configuration."
    , "when": "When the URL is <code>/</code> it will load <code>list.html</code> into the view and attach the <code>ListCtrl</code> controller. You can instantly get an overview of an app's structure by reading the route definitions."
    , "/edit/:projectId": "This route definition has a colon ':' in it. You use colons to make a component of the URL available to your controller. So now, <code>EditCtrl</code> can refer to the <code>projectId</code> property which tells it which project to edit."
    , "otherwise": "The <code>otherwise</code> route specifies which view to display when the URL doesn’t match any of the explicit routes. It’s the default."
    , "Projects": "<code>Projects</code> is an instance of <code>angularFireCollection</code>, and is defined in the <code>projects</code> module. It exposes method to add, remove and update projects in the collection. Its purpose is to abstract the server communication. This lets the controller focus on the behavior rather than the complexities of server access."
    , "$scope": "We can immediately assign the set of projects to our scope, and they will be displayed in the view."
    , "$timeout": "The callback for Projects.add is called asynchronously, and we have to use $timeout to ensure $location has the right context when it executes."
    , "$location": "You use the <code>$location</code> service to access the browser's location."
    , "angularFire": "The <code>angularFire</code> method binds a <code>Project</code> from the server to a local <code>$scope</code> variable, in this case, <code>remote</code>."
    , "path": "Use the <code>path</code> method to change the application's 'deep-linking' location. Changing the URL will automatically activate the new route, and transition the application to display that view -- in this case, the <code>/edit/</code> view."
    , "$routeParams": "Here, we ask AngularJS to inject the <code>$routeParams</code> service.  We use it to access the parameters extracted from the route path definitions."
    , "projectId": "This extracts the <code>projectId</code> from the URL. This allows the controller to use deep-linking information for processing."
    , "isClean": "Determines whether the user has modified the form. We use this information to enable the save button in the view."
    , "destroy": "Called when the user clicks the delete button in the view."
    , "save": "Called when the user clicks the save button in the view."
    , "null": "We can delete an object by simply setting its value to null."
    }
    }
</script>
</div>
<div class="tabs-code">
<!-- ============== Tabs ============== -->
<script id="components.js" type="text/dart">
  angular.module('components', [])

    .directive('tabs', function() {
      return {
        restrict: 'E',
        transclude: true,
        scope: {},
        controller: function($scope, $element) {
          var panes = $scope.panes = [];

          $scope.select = function(pane) {
            angular.forEach(panes, function(pane) {
              pane.selected = false;
            });
            pane.selected = true;
          }

          this.addPane = function(pane) {
            if (panes.length == 0) $scope.select(pane);
            panes.push(pane);
          }
        },
        template:
          '<div class="tabbable">' +
            '<ul class="nav nav-tabs">' +
              '<li ng-repeat="pane in panes" ng-class="{active:pane.selected}" ng-cloak>'+
                '<a href="" ng-click="select(pane)">{% raw %}{{pane.title}}{% endraw %}</a>' +
              '</li>' +
            '</ul>' +
            '<div class="tab-content" ng-transclude></div>' +
          '</div>',
        replace: true
      };
    })

    .directive('pane', function() {
      return {
        require: '^tabs',
        restrict: 'E',
        transclude: true,
        scope: { title: '@' },
        link: function(scope, element, attrs, tabsCtrl) {
          tabsCtrl.addPane(scope);
        },
        template:
          '<div class="tab-pane" ng-class="{active: selected}" ng-transclude>' +
          '</div>',
        replace: true
      };
    })
</script>
<script>
    angular.module('app-us', ['app', 'ngLocal.us']);
    angular.module('app-sk', ['app', 'ngLocal.sk']);
</script>
<script id="app.js" type="text/dart">
  angular.module('app', ['components'])

  .controller('BeerCounter', function($scope, $locale) {
    $scope.beers = [0, 1, 2, 3, 4, 5, 6];
    if ($locale.id == 'en-us') {
      $scope.beerForms = {
        0: 'no beers',
        one: '{} beer',
        other: '{} beers'
      };
    } else {
      $scope.beerForms = {
        0: 'žiadne pivo',
        one: '{} pivo',
        few: '{} pivá',
        other: '{} pív'
      };
    }
  });
</script>
<script type="text/ng-template" id="tabs.html">
    <tabs>
        <pane title="Localization" ng-cloak>
            Date: {% raw %}{{ '2012-04-01' | date:'fullDate' }}{% endraw %} <br>
            Currency: {% raw %}{{ 123456 | currency }}{% endraw %} <br>
            Number: {% raw %}{{ 98765.4321 | number }}{% endraw %} <br>
        </pane>
        <pane title="Pluralization">
            <div ng-controller="BeerCounter">
                <div ng-repeat="beerCount in beers">
                    <ng-pluralize count="beerCount" when="beerForms"></ng-pluralize>
                </div>
            </div>
        </pane>
    </tabs>
</script>
<script type="text/ng-template" id="tabs.annotation">
    { "tabs.html":
    { "\"app\"": "The <code>ng-app</code> activates the <code>app</code> module for this page region. The module contains the BeerCounter controller and has a dependency on the <code>components</code> module, which contains the HTML extension (directives) for <code>&lt;tabs&gt;</code> and <code>&lt;pane&gt;</code> components."
    , "tabs": "We've extended HTML's vocabulary with a custom <code>tabs</code> element. The <code>tabs</code> abstracts the complex HTML structure and behavior necessary for rendering of tabs. The result is a more readable view and very easily reusable syntax."
    , "pane": "Again, we've extended the HTML vocabulary with a custom <code>pane</code> element. The <code>pane</code> element renders the panes of each tab. The result is a more readable view."
    , "title": "Components can take input parameters in the form of HTML attributes. In this case the <code>title</code> attribute specifies the tab's text."
    , "Localization": "An example demonstrating localization features of AngularJS: date, number and currency formatting."
    , "Pluralization": "An example demonstrating pluralization features of AngularJS. Notice that that the plural form of 'beer' changes in 'SK' locale at zero, one, two, and five beers."
    , "BeerCounter": "We use the <code>BeerCounter</code> controller to set up counting rules depending on the locale."
    , "ng-pluralize": "The <code>ng-pluralize</code> directive selects the right plural format for each locale. Unlike English, other languages often have complex plural rules depending on the number of items involved."
    , "count": "Binds to the number property. The count becomes the selector for the plural form to choose."
    , "when": "Binds to pluralization rules. The rules are unique for each locale and language combination."
    }
    , "components.js":
    { "directive": "Use the module's <code>directive()</code> method to define new HTML vocabulary for our components. "
    , "tabs": "Define the <code>&lt;tabs&gt;</code> component."
    , "controller": "Just like with the application, the component can have a controller that provides the component's behavior."
    , "$element": "Current DOM element of the component."
    , "$scope": "Current scope of the component."
    , "select": "Publish a <code>select()</code> method which will be used by the view to switch between tabs."
    , "addPane": "Components often need to collaborate together as a unit. In our case the <code>&lt;pane&gt;</code> will use the <code>addPane()</code> method to be register itself with its <code>&lt;tabs&gt;</code> container."
    , "template": "The <code>template</code> is the HTML which needs to be rendered by the browser instead of the <code>&lt;tabs&gt;</code> placeholder. Notice that the HTML in this template can have other directives within it."
    , "restrict": "The <code>restrict</code> specifies the HTML format of the component. In this case the <code>&lt;tabs&gt;</code> must be an HTML element."
    , "ng-transclude": "Marks the location where the contents of the <code>&lt;tabs&gt;</code> element will be placed."
    , "transclude": "Specifies that when AngularJS replaces the <code>&lt;tabs&gt;</code> element with the expanded HTML that it should place the original content somewhere specified by an <code>ng-transclude</code> directive (see below)."
    , "scope": "Our component needs to have a private scope so that its view properties are not accidentally modified outside the <code>&lt;tabs&gt;</code>. If you do need to expose attributes, you can declare input/output attributes. See the <code>&lt;pane&gt;</code> component below for an example."
    , "replace": "Tells AngularJS that the original <code>&lt;tabs&gt;</code> element should be replaced with the <code>template</code> rather than appending to it."
    , "active": "We set the <code>active</code> CSS class to show the currently active tab."
    , "require": "Specify that the <code>&lt;pane&gt;</code> component must be inside a <code>&lt;tabs&gt;</code> component. This gives the <code>&lt;pane&gt;</code> component to access to the <code>&lt;tabs&gt;</code>' controller methods -- the <code>addPane()</code> method in this case."
    , "tabsCtrl": "As we've specified we <code>require</code> the <code>&lt;tabs&gt;</code> as our container, we get passed its controller instance."
    , "ng-click": "Select the clicked tab."
    , "bind": "Specifies how is the <code>title</code> attribute on the <code>&lt;pane&gt;</code> element interpreted. The <code>bind</code> strategy copies the interpolated value to <code>&lt;pane&gt;</code>'s scope. This makes <code>title</code> available for binding in <code>template</code>."
    }
    , "app.js":
    { "$locale": "The <code>$locale</code> service contains meta-data for the current locale. There are AngularJS locale modules available for each language locale combination."
    , "beers": "Set up beers counting array. We will iterate over this array and see how the 'beers' count gets rendered for each count."
    , "id": "Create different pluralization rules based on locale. In an actual app, one would load a different module which would contain translation as well as localization rules for each language."
    , "beerForms": "Pluralization rules for English."
    , "components": "The <code>app</code> module declares a dependency on the <code>components</code> module, which ensures that the directives in the <code>components</code> module are also loaded into the application."
    }
    }
</script>
</div>
