<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Product">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta itemprop="description" name="Description" content="AngularDart is a framework for building web-apps in Dart.
                 Declarative templates with data-binding, MVW, MVVM, MVC,
                 dependency injection and great testability story!">
    <meta itemprop="image" content="https://angulardart.org/img/logo.png">
    <meta itemprop="name" content="AngularDart: Superheroic MVW Framework for Dart">

    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">

    <title>{% if page.title %}{{page.title}} | {% endif %}AngularDart — Superheroic MVW Framework for Dart</title>

    <!-- Stylesheets -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/base.css">
    {% if page.url contains "/tutorial/" and page.url != "/tutorial/index.html" %}
    <link rel="stylesheet" href="/css/tutorial.css">
    {%endif %}

    <!--<base href="/">--><base href=".">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
  </head>

  <body>
    <div id="header">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">AngularDart</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <!--
            <form class="navbar-form navbar-right" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
            </form>
            -->

            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/demo/">Demo</a></li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Learn <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="/demo/">Intro to AngularDart</a>
                  </li>
                  <li>
                    <a href="/tutorial/">Tutorial</a>
                  </li>
                  <li>
                    <a href="https://github.com/shailen/angulardart-samples/tree/master/mini_samples#angulardart-mini-samples">
                      Examples</a>
                  </li>
                  <li>
                    <a href="https://www.dartlang.org/events/2014/flight-school/">
                      Find a Flight School Event</a>
                  </li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Develop <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="https://docs.angulardart.org/">
                      API Reference</a>
                  </li>
                  <li>
                    <a href="http://stackoverflow.com/questions/tagged/angular-dart">
                      Q&amp;A (Stack Overflow)</a>
                  </li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Discuss<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="http://blog.angulardart.org">Blog</a>
                  </li>
                  <li>
                    <a href="http://groups.google.com/group/angular-dart">
                      Mailing List</a>
                  </li>
                  <li>
                    <a href="https://twitter.com/#!/angulardart">Twitter</a>
                  </li>
                  <li>
                    <a href="https://plus.google.com/117340875933142003564">
                      Google+</a>
                  </li>
                  <li>
                    <a href="https://github.com/angular/angular.dart">GitHub</a>
                  </li>
                  <li>
                    <a href="https://github.com/angular/angular.dart/issues">
                      Issue Tracker</a>
                  </li>
                </ul>
              </li>
            </ul><!-- /.nav -->
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
      </nav><!-- /.navbar -->
