<div id="header">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">AngularDart</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
          <li><a href="/demo/">Demo</a></li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Learn <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <a href="/demo/">Intro to AngularDart</a>
              </li>
              <li class="active">
                <a href="/tutorial/">Tutorial</a>
              </li>
              <li>
                <a href="https://github.com/dart-lang/dart_by_example#angular-dart">
                  Examples</a>
              </li>
              <li>
                <a href="https://www.dartlang.org/events/2014/flight-school/">
                  Find a Flight School Event</a>
              </li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Develop <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <a href="https://docs.angulardart.org/">
                  API Reference</a>
              </li>
              <li>
                <a href="http://stackoverflow.com/questions/tagged/angular-dart">
                  Q&amp;A (Stack Overflow)</a>
              </li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Discuss<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <a href="http://blog.angulardart.org">Blog</a>
              </li>
              <li>
                <a href="http://groups.google.com/group/angular-dart">
                  Mailing List</a>
              </li>
              <li>
                <a href="https://twitter.com/#!/angulardart">Twitter</a>
              </li>
              <li>
                <a href="https://plus.google.com/117340875933142003564">
                  Google+</a>
              </li>
              <li>
                <a href="https://github.com/angular/angular.dart">GitHub</a>
              </li>
              <li>
                <a href="https://github.com/angular/angular.dart/issues">
                  Issue Tracker</a>
              </li>
            </ul>
          </li>
        </ul><!-- /.nav -->
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav><!-- /.navbar -->
</div><!-- /#header -->
