{% include header.html %}

<div class="container tutorial" role="main">
  <div class="breadcrumbs">
    <div class="container">
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/tutorial/index.html">Tutorial</a></li>
        <li class="active"><a href="{{page.breadcrumb_link}}">
          {{page.breadcrumb_text}}</a>
        </li>
       </ol>
     </div>
   </div>
  {{content}}
  <ul class="pager">
    <li class="previous"><a href="{{page.previous}}">&laquo; Previous</a></li>
    <li><a href="../index.html">Tutorial Overview</a></li>
    <li class="next"><a href="{{page.next}}">Next &raquo;</a></li>
  </ul>
</div>

{% include footer.html %}

